:root {
    --page-col-1: hsl(207, 44%, 49%);
    --page-col-2: hsl(34, 44%, 69%);
    --page-col-3: hsl(180, 100%, 25%);
    --page-col-4: hsl(248, 53%, 58%);
    --txt-light: hsl(0, 0%, 96%);
    --btn-light: hsl(0, 0%, 96%);
    --btn-dark: hsl(0, 0%, 36%);
}

*
 {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--txt-light);
    padding: 0 4rem;     
    font-size: 1.5rem;
}

.page h1 {
    font: 4rem sans-serif;
    line-height: 1;
    margin: 1rem;
    animation: h1entrance 1s ease-in-out 0.3s 1 forwards;
    transform: translateX(-1200px);
}

.page h3 {
    margin: 20px 0 8px 0;
}

.page p {
    margin: 1rem;
    max-width: 650px;
}

.page ul {
    margin-bottom: 20px;
    max-width: 650px;
}

.page .links-container {
    line-height: 2.3;
}
/* Page colors */
#page-1 {background: var(--page-col-1);}
#page-2 {background: var(--page-col-2);}
#page-3 {background: var(--page-col-3);}
#page-4 {background: var(--page-col-4);}
#page-5 {background: var(--page-col-1);}
#page-6 {background: var(--page-col-2);}
#page-7 {background: var(--page-col-3);}
#page-8 {background: var(--page-col-4);}

.btn {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    
}

.btn-light {
    background: var(--btn-light);
    color: var(--btn-dark);
}

.btn-dark {
    background: var(--btn-dark);
    color: var(--txt-light);
}

@keyframes h1entrance {
    to {
        transform: translateX(0px);
    }
}